:root {
    --text-color-1: #b11e31;
    --text-color-2: #834D03;
    --text-color-3: #ffffff;
    --img-border-color: #a8701b;
    --nav-bg-color: #daa86a;
    --nav-collapse-color: #f3dbbd;
    --nav-font-color: #b11e31;
    --nav-border-color: #834d032b;
    --footer-bg-color: #daa86a;
    --wedding-content-font-size: 22px;
    --virtual-button-color:#b11e31;
    --event-desc-bg: #ffffff;
    --time-line-divider: #f6ded8;
    --count-down-bg: #daa86a7d;
    --couple-name-font: 'Champagne';
    --couple-name-font-size: 50px;
    --date-venue-font:'Times';
    --section-title-font:'Roboto', sans-serif;
    --section-content-font: 'Roboto Slab',sans-serif;
    --section-content-font-2:'Roboto', sans-serif;
    --rsvp-background-color:#b11e31;
    --rsvp-submit-color: #ffffff;
    --rsvp-placeholder-color: #ffffff;
    --rsvp-checkbox-color: #ffffff;
    --guestbook-color: #a8701b;
    --guestbook-placeholder-color: #a8701b;
    --time-line-dot: url("dot-1.jpg");
    --body-background: url('background-1.jpg');
    --banner-image: url('theme1.jpg');
    --divider-image: url('divider-img-1.png');
    --frame-left-top: url("left-top.png");
    --frame-right-top: url("right-top.png");
    --frame-left-bottom: url("left-bottom.png");
    --frame-right-bottom: url("right-bottom.png");
    --rsvp-frame-left-top: url("left-top.png");
    --rsvp-frame-right-top: url("right-top.png");
    --rsvp-frame-left-bottom: url("left-bottom.png");
    --rsvp-frame-right-bottom: url("right-bottom.png");
    --guestbk-frame-left-top: url("left-top.png");
    --guestbk-frame-right-top: url("right-top.png");
    --guestbk-frame-left-bottom: url("left-bottom.png");
    --guestbk-frame-right-bottom: url("right-bottom.png");
}